{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-3">
            <br><br>
            <div class="card card-sign-in">
                <div class="card-body">
                  
                    <h2>{% trans 'Sign in' %}</h2>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-company-fill">{% trans 'Sign in' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}