{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Welcome in' %} Company Manager</h1>

    <p class="text-center">
        {% blocktranslate %}This system helps company to be efficient in its business project.{% endblocktranslate %}
    </p>

    <div class="container">
        <canvas id="graph"></canvas>
    </div>
{% endblock %}

{%block scripts %}
<script>
    $(document).ready(function() {
        var ctx = document.getElementById('graph').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{%for row in qs%}'{{row.company}}',{%endfor%}],
                datasets: [{
                    label: 'Rating of Opportunity',
                    data: [{%for row in qs%} {{row.status}} ,{%endfor%}]
                }]
            }
        });
    });
</script>
{% endblock %}