{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Welcome in' %} Company Manager</h1>

    <p class="text-center">
        {% blocktranslate %}This system helps company to be efficient in its business project.{% endblocktranslate %}
    </p>

    <br><br>
    <div class="card welcoming-note">
        <div class="card-header">
          Note
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="text-center fw-lighter fst-italic">This project is for learning and practising purposes.</p>
          </blockquote>
        </div>
      </div>
{% endblock %}