{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'employee_list' %}">{% trans 'Employee List' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>
        </ol>
    </nav>

    <h2>{{ user.last_name }} {{ user.first_name }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-company">{% trans 'Save' %}</button>
    </form>
{% endblock %}